/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.backround-red{
  background: red;
}
img{display:block;}
html, body {
  height: 100%;
}
body {
  padding-bottom: 30px;
}
.margin-left{
  margin-left: 20px;
}
.height{
  height: 100%;
}
.menu {
 min-height: 400px;
 width: 1100px;
 vertical-align: top;

}
.menu-item{
  min-height: 400px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  //background: grey;
}
.menu-item-medium{
  min-height: 400px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  //background: orange;
}
.menu-el{
  font-size: 20px;
  margin-top:5px;
  margin-bottom: 5px;
}
.menu-item-large{
  min-height: 400px;
  display: inline-block;
  width: 800px;
  //background: #873338;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
}
.flex-box{
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content:space-around;
}
.noPaddingNoMargin{
  padding: 0;
  margin: 0;
}
.flex-row-sing{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.news-flex-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.image-box{
  margin:3px;
}
.padding{
  padding: 10px;
}
.new-news{
  margin-top: 40px;
  margin-bottom: 40px;
}
.newsText{
  padding: 5px;
  margin-left: 15px;
  margin-top: 5px;
}
.profile-text{
  margin-bottom: 10px;
}
.align-center{
  text-align: center;
}
.shadow {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 10px;
}
.border{
  border-style: solid;
  border-width: 1px;
  border-color: #bcbabb;
}
.align-left{
  text-align: left;
}
.align-right{
  text-align: right;
}
.borderTop{
  border-top-style: solid;
  border-top-width: 1px;
}
.news-flex-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
}
.error{
  background-color: #a54f4c;
  font-size: 14px;
  color:white;
}
.friend-flex{
  display: flex;
  justify-content: center;
}
.friend-flex-row{
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.friend {
  display: inline-block;
  padding: 2px;
  font-size: 13px;
  margin: 3px;
}
.inline-block {
  display: inline-block;
}
.friends-box{
  width:400px;
}
.friend-request{
  width: 230px;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.friend-name{
  margin: 0;
  width: 50px;
  word-wrap: break-word;
}
.friend-img {
  padding: 1px;
  border:1px solid #021a40;
  background-color: #e2e0d5;
  overflow: hidden;
}
